<div class="card card-inverse card-info p-2 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p class="display-1 counter"><%= @matches.count_players %></p>
      <footer><cite><%= t 'home.players.title' %></cite></footer>
    </blockquote>
  </div>
</div>
