<div class="card card-inverse card-primary p-2 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p class="display-1"> <i class="fa fa-trophy"></i> </p>
      <footer><cite><%= @matches.players_winners.first.try(:first) %></cite></footer>
    </blockquote>
  </div>
</div>
