<div class="guitar2">
  <img class="img-responsive" src="images/taco.png" alt="Malucos por Taco">
</div>
<div class="about-content">
  <h2>Malucos por Taco</h2>
  <p>Tudo começou em 2007 em Osasco, alguns amigos após umas cervejas e outras tiveram a ideia de relembrar os tempos de criança e fazer um partida de Taco.
  A diversão e a sensação foi tão grande que marcamos outras partida para semanas depois. Começamos a chamar alguns amigos da faculdade, procuramos um lugar
  mais adequado e a diversão não parou mais.<br>
  Sempre aos sábados de manhã, as vezes vindo direto da balada, levamos cervejas, pão, câmera para registrar o momento e nos divertir.
  Desenhamos as celas montamos as casinhas, escolhemos os times, tiramos na sorte quem começa com o taco, abrimos um cerveja e começamos.
  Jogamos de 3 a 4 horas, batemos um papo e nos divertimos muito.
  </p>
  <a href="https://www.youtube.com/playlist?list=PLsl3GpYiojleHxI3xV6HYVLuIV1DDI_I_" target="_blank" class="btn btn-primary">Assisti ai <i class="fa fa-angle-right"></i></a>
</div>
