<div class="container">
  <div class="card-columns row">
    <div class="col-md-3 mb-3"> <%= render 'home/boxes/card_count_matches' %> </div>
    <div class="col-md-3 mb-3"> <%= render 'home/boxes/card_count_players' %> </div>
    <div class="col-md-3 mb-3"> <%= render 'home/boxes/card_team_winner' %>   </div>
    <div class="col-md-3 mb-3"> <%= render 'home/boxes/card_player_winner' %> </div>
  </div>
</div>
