<div class="card card-inverse card-primary p-2 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p class="display-1 counter"><%= @matches.size %></p>
      <footer><cite><%= t 'matches.name' %></cite></footer>
    </blockquote>
  </div>
</div>
