<div class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-4">
        <div class="contact-text">
          <h3>Contato</h3>
          <address>
            E-mail: edersondelima@gmail.com<br>
          </address>
        </div>
        <div class="contact-address">
          <h3>Endereço</h3>
          <address>
            Av. Dr. Francisco de Paula Vicente de Azevedo <br>
            Parque Continental<br>
            São Paulo - SP<br>
            05325-180
          </address>
        </div>
      </div>
    </div>
  </div>
</div>
