<div class="container">
  <div class="row">
    <div class="watch">
      <img class="img-responsive" src="images/watch.png" alt="">
    </div>
    <div class="col-md-4 col-md-offset-2 col-sm-5">
      <h2>próximo evento em</h2>
      <h2 id="countdown_output"></h2>
    </div>
    <div class="col-sm-7 col-md-6">
      <ul id="countdown">
        <li>
          <span class="days time-font">00</span>
          <p>Dia</p>
        </li>
        <li>
          <span class="hours time-font">00</span>
          <p class="">horas</p>
        </li>
        <li>
          <span class="minutes time-font">00</span>
          <p class="">minutos</p>
        </li>
        <li>
          <span class="seconds time-font">00</span>
          <p class="">segundos</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="cart">
    <a href="https://www.facebook.com/pg/MalucosPorTaco/events/" target="_blank"><i class="fa fa-calendar"></i> <span>Marque presença</span></a>
  </div>
</div>

