      <div class="item active">
        <img class="img-responsive" src="images/slider/bg1.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>Participe do próximo evento</h2>
          <h4>fique ligado em nossas redes sociais</h4>
          <div class="pull-right social-icons">
            <a href="https://twitter.com/malucosportaco" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/groups/Malucosportaco/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/malucosportaco/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/playlist?list=PLsl3GpYiojleHxI3xV6HYVLuIV1DDI_I_" target="_blank"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg2.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>o time é fera</h2>
          <h4>taco, cerveja e quem sabe um churrasco</h4>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg3.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>Jogamos a 10 anos</h2>
          <h4>sempre aos sábados de manhã</h4>
          <a href="#contact" >Como chegar<i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg4.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>Registramos todos os momento</h2>
          <h4>inclusive com estatisticas</h4>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg5.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>Muito talendo</h2>
          <h4>em rebater e arremeçar</h4>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg6.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>Fique atendo para o próximo evento</h2>
          <h4>venha participar com a gente</h4>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg7.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>Fique atento</h2>
          <h4>Você pode perder o taco a qualquer momento</h4>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg8.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>Venha jogar !!!</h2>
          <h4>Mas, prepare-se para correr</h4>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="item">
        <img class="img-responsive" src="images/slider/bg9.jpg" alt="slider">
        <div class="carousel-caption">
          <h2>Muita diversão e descontração</h2>
          <h4>ótima maneira de manter as boas amisades</h4>
        </div>
      </div>

