<div id="twitter-feed" class="carousel slide" data-interval="false">
  <div class="twit">
    <img class="img-responsive" src="images/twit.png" alt="twit">
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center carousel-inner center-block">
        <div class="item active">
          <img src="images/twitter/twitter1.png" alt="">
          <p>Não importa o porte</p>
          <a href="https://twitter.com/malucosportaco/status/894682394992803841" target="_blank">https://twitter.com/malucosportaco/status/894682394992803841</a>
        </div>
        <div class="item">
          <img src="images/twitter/twitter2.png" alt="">
          <p>Só colar</p>
          <a href="https://twitter.com/malucosportaco/status/894682245805604864" target="_blank">https://twitter.com/malucosportaco/status/894682245805604864</a>
        </div>
      </div>
      <a class="twitter-control-left" href="#twitter-feed" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="twitter-control-right" href="#twitter-feed" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</div>
