<br>
<div class="row">
  <div class="col"> <h2> <i class="fa fa-ravelry" aria-hidden="true"></i> Malucos Por Taco</h2></div>

  <div class="col-md-3  ml-auto">
    <%= render 'search_for_started_at' %>
  </div>
</div>

<br>
<%= render 'boxes' %>
<hr>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#graficos" role="tab">Gráficos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#lista" role="tab">Lista</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="graficos" role="tabpanel">
    <%= render 'charts' %>
  </div>
  <div class="tab-pane" id="lista" role="tabpanel">
    <%= render 'list' %>
  </div>
</div>


<% content_for :javascript do %>
  $(document).ready(function() {
    $('.counter').counterUp({
      delay: 10, time: 1000
    });
  });
<% end %>
