<div class="col-md-3 mb-3">
  <div class="card card-inverse card-info text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p class=""> <%= total %> </p>
        <footer><cite><%= title %></cite></footer>
      </blockquote>
    </div>
  </div>
</div>
