<tr>
  <td><%= player.name %></td>
  <td><%= player.nick_name%></td>
  <td>
    <% if user_signed_in? %>
      <%= link_to t('edit'), edit_player_path(player) %> |
    <% end %>
    <%= link_to t('show'), player_path(player) %>
  </td>
</tr>
