<h1 class="text-info">Jogadores</h1>
<h4 class="text-muted">Editar</h4>
<div class="row justify-content-md-center">
  <div class="col-6">
    <%= render partial: 'form', locals: { player: @player } %>
  </div>
</div>

