<h1 class="text-info">Jogadores</h1>

<%= link_to t('new'), new_player_path, class: 'btn btn-outline-info' %>
<hr>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th><%= Player.human_attribute_name :name %></th>
      <th><%= Player.human_attribute_name :nick_name %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'player', collection: @players %>
  </tbody>
</table>
