<h1 class="text-info">Jogo</h1>
<h4 class="text-muted">Editar Jogo</h4>
<div class="row justify-content-md-center">
  <div class="col-12">
    <%= render partial: 'form', locals: { match: @match } %>
  </div>
</div>
