<h1 class="text-info">Jogos</h1>
<%= link_to t('new'), new_match_path, class: 'btn btn-outline-info' %>
<hr>

<div >
  <%= render partial: 'matches/index/index_item', collection: @matches, as: :match %>
</div>
