<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <br>
  <ul class="nav nav-pills flex-column">
    <%= render 'layouts/nav_links' %>
  </ul>

  <%# <ul class="nav nav-pills flex-column"> %>
  <%# </ul> %>
</nav>
