<button class="navbar-toggler navbar-toggler-right hidden-lg-up collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<%= link_to  root_path, class: 'navbar-brand' do %>
  <i class="fa fa-rebel fa-1x text-info" aria-hidden="true"></i> &nbsp;
  <%= t 'title' %>
<% end %>

<div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false" style="">
  <ul class="navbar-nav mr-auto hidden-sm-up">
    <%= render 'layouts/nav_links' %>
  </ul>
  <ul class="navbar-nav mr-auto"> </ul>

  <% if user_signed_in? %>
    <%= link_to('Sair', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-outline-success mr-sm-2 text-center') %>
  <% else %>
    <a href="http://www.malucosportaco.com.br" class="nav-link btn btn-outline-info mr-sm-2 text-center">Site</a>
  <% end %>
</div>
