<%= link_to 'Malucos por Taco', root_path, class: 'navbar-brand'%>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <%# <li class="nav-item"> %>
    <%#   <a class="nav-link" href="#">Settings</a> %>
    <%# </li> %>
  </ul>

  <% if user_signed_in? %>
    <li>
      <%= link_to('Sair', destroy_user_session_path, method: :delete, class: 'btn btn-outline-success my-2 my-sm-0') %>
    </li>
  <% end %>
</div>
